* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    outline: 2px dotted orangered;
    margin-inline: auto;
    background-color: bisque;
    max-width: 90rem;
    padding-inline: 3rem;
    
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    width: 100%;
    margin-inline: auto;

    & .total-income {
        display: flex;
        align-self: flex-end;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        background-color: goldenrod;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: inset
        0 1px 1px 2px #0000007a
        0 1px 2px 4px #00000046
        0 1px 4px 5px #0000001f;
    }
}

main {
    background-color: beige;
}




form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: .5rem;

    padding: .5rem;


    & .user-box {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-block: .5rem;
        padding-inline: 1rem;
    }

    & .aparelho-box {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        padding-block: .5rem;
        margin-left: .9rem;
    }
    

    & input {
        max-width: fit-content;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        width: 100%;
        padding: .5rem;
        border-radius: 8px;
        border: none;
        box-shadow: inset

    }

    & label {
        max-width: fit-content;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 1rem;

        & .box-order {
            display: flex;
            align-items: center;
            gap: .3rem;

            
        }

        & #order-checkbox {
            display: flex;
            align-self: flex-start;

            max-width: 100px;
            width: fit-content;
            white-space: nowrap;
            
            padding-block: .5rem;
            padding-inline: 1rem;
            border: 2px solid #dddddd;
            background-color: #f5f5f5;

            transition: max-width .2s ease-in-out;
        }
    }

    & select {
        max-width: fit-content;
        flex: 1;
        width: 100%;
        padding: .5rem;
        border-radius: 8px;
        border: 2px solid #dddddd;
        background: #ffffff;
        box-shadow: inset;
        margin-left: .9rem;
        appearance: base-select;


        transition: 0.4s;
        

        &:hover, &:focus {
            background-color: #dddddd;
        }

        &:open::picker-icon {
            transform: rotate(180deg);
        }

        &::picker-icon {
            color: #999999;
            transition: 0.4s rotate;
        }

        &::picker(select) {
            appearance: base-select;
            border: none;

        }

        & > option {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;

            border: 2px solid #dddddd;
            background: #eeeeee;
            padding: .6rem;

            transition: 0.4s;

            &:first-of-type {
                border-radius: .5rem .5rem 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 .5rem .5rem;
            }

            &:checked {
                font-weight: 700;
            }

            &::checkmark {
                order: 1;
                margin-left: auto;
                content: '☑️';
            }
        }
    }



    & .send-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;
        padding-block: .5rem;
        padding-inline: 1rem;
        margin-left: .9rem;
        margin-top: .5rem;

        font-family: monospace;
        font-size: 1.1rem;
        background-color: crimson;
        color: bisque;
        filter: drop-shadow(1px 1px 1px black);
        cursor: pointer;
        will-change: transform;
        
        transition: transform .2s ease;
        &:hover, &:focus, &:active {
            transform: scale(1.08);
        }

    }
}